<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('../templates/head.ejs') %>
  </head>
  <body>
    <%- include ('../templates/navbar.ejs') %>
    <div class="container mt-5">
      <%- include ('../templates/connectToBridgeForm.ejs') %>
      <% if (bridges.length === 0) { %>
      <div class="alert alert-warning" role="alert">
        Unable to detect any Philips Hue bridges on your network!
        <button
          type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <% } %>
    </div>
    <%- include ('../templates/scripts.ejs') %>
  </body>
</html>
